:root {
  --blanc-creme: #fbfbf2;
  --beige-clair: #f6ead4;
  --kaki: #a2a595;
  --beige-fonce: #b4a284;
  --moins-noir: #22223b;
  --noir: #000000;
  --font1: "Italiana", sans-serif;
  --font2: "Piazzolla", serif;
  --font3: "Playfair", serif;
}

/* ancien de app.css : 
#root {
  margin: 0 auto;
  text-align: center;
} */

body {
  margin: 0 auto;
}

main {
  position: relative;
  overflow: hidden;
}

.presentation {
  font-family: var(--font1);
  background-color: var(--blanc-creme);
  overflow: hidden;
  position: relative;
}

.presentation_elements {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

.presentation h1 {
  margin: 0;
}

.presentation .firstground {
  position: absolute;
  top: 25%;
  left: 25%;
  font-size: 100px;
  font-weight: 300;
  z-index: 10;
  margin-bottom: 20px;
}

.presentation .background {
  color: var(--kaki);
  position: relative;
  right: 205px;
  font-size: 230px;
  font-weight: 300;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0.1;
}

.balls img {
  width: 435px;
  height: 242px;
  position: relative;
  top: 50px;
  margin-bottom: 100px;
}

.rectangle_balls h2 {
  position: absolute;
  top: 58%;
  left: 38%;
  font-size: 38px;
  font-weight: 300;
  color: var(--blanc-creme);
  z-index: 10;
}

/* .liquid-glass {
  position: absolute;
  top: 370px;
  left: 32.5%;
  z-index: 5;
  width: 535px;
  height: 242px;
  background: rgba(255, 255, 255, 0.17);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.2px);
} */

.about-me {
  background-color: var(--kaki);
  position: relative;
  padding-top: 20px;
  padding-bottom: 40px;
  overflow: hidden;
}

.about-me h1 {
  position: absolute;
  top: 10%;
  right: 10%;
  font-family: var(--font1);
  font-weight: 400;
  font-size: 64px;
  margin: 0;
}

.about-me p {
  font-family: var(--font2);
  margin: 0;
  font-size: 24px;
  padding: 150px 150px 150px 150px;
}

.about-me .photo {
  position: absolute;
  bottom: 28%;
  right: 10%;
}

.about-me .polygon1 {
  transform: scaleX(-1) scaleY(-1);
  position: absolute;
  top: 13%;
  left: 5%;
}

.about-me .polygon2 {
  position: absolute;
  bottom: 14%;
  left: 58%;
}

.formations_diplomes {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 300px;
  background-color: var(--beige-fonce);
  padding: 70px;
}

.formations_diplomes h1 {
  margin: 0 0 70px 0;
  font-family: var(--font1);
  font-weight: 300;
  font-size: 64px;
}

.formations_diplomes li {
  font-family: var(--font3);
  margin-bottom: 35px;
  font-weight: 600;
}

.formations--section {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 50%;
}

.diplomes--section {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 50%;
}

.formations--section ul, .diplomes--section ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 20px;
}

.formations--section ul {
  text-align: right;
  width: 485px;
}

.diplomes--section ul {
  text-align: left;
  width: 485px;
}

.diplome--img {
  position: absolute;
  top: 10%;
  left: 45%;
}

.diplome--balls {
  position: absolute;
  bottom: 15%;
  right: 13%;
}

.light-effect1 {
  position: absolute;
  top: 19%;
  right: -300px;
  z-index: 100;
  width: 600px;
  height: 600px;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0.5) 30%,
    transparent 70%
  );
  filter: blur(40px);
  white-space: nowrap;
  pointer-events: none;
}

.light-effect2 {
  position: absolute;
  top: 55%;
  left: -300px;
  z-index: 100;
  width: 600px;
  height: 600px;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0.5) 30%,
    transparent 70%
  );
  filter: blur(40px);
  white-space: nowrap;
  pointer-events: none;
}

.experiences {
  background-color: var(--beige-clair);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experiences h1 {
  margin: 0;
  font-family: var(--font1);
  font-weight: 300;
  font-size: 64px;
  padding-bottom: 60px;
  padding-top: 80px;
}

.chronologie {
  position: relative;
  display: flex;
  flex-direction: row;
  font-family: var(--font3);
}

.stick {
  width: 15px;
  height: 2051px;
  background: linear-gradient(
    to bottom,
    #000000 0%,
    #a2a595 25%,
    #fbfbf2 50%,
    #a2a595 75%,
    #000000 100%
  );
  border-radius: 10px;
  margin-bottom: 150px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boule {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin: 158px auto;
}

/*152px margin auto*/

.boule.clair {
  background: linear-gradient(45deg, #F6EAD4 0%, #22223B 100%);
}

.boule.fonce {
  background: linear-gradient(45deg, #F6EAD4 0%, #22223B 62%);
}

.balls-group {
  position: relative;
  bottom: 117.5px;
  z-index: 10;
}

.poste, .entreprise, .competences {
  display: none;
}

.year-group {
  display: flex;
  flex-direction: row;
}

.year-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 10px;
  font-size: 36px;
  width: 95px;
  height: 100px;
  font-weight: 600;
  padding: 5px;
  text-align: center;
}

.left-column, .right-column {
  display: flex;
  flex-direction: column;
}

.left-column {
  gap: 278px;
  position: absolute;
  top: 235px;
  right: 30px;
}

.right-column {
  gap: 278.5px;
  position: absolute;
  top: 37px;
  left: 30px;
}

/*.left-column .year-group {
  position: absolute;
  top: 235px;
  right: 30px;
  gap de 278
} */

/*.right-column .year-group {
  position: absolute;
  top: 37px;
  left: 30px;
  gap de 278.5 pour un truc de 152px au machin stick jsp
}*/