:root {
  --blanc-creme: #fbfbf2;
  --beige-clair: #f6ead4;
  --kaki: #a2a595;
  --beige-fonce: #b4a284;
  --moins-noir: #22223b;
  --noir: #000000;
  --font1: "Italiana", sans-serif;
  --font2: "Piazzolla", serif;
  --font3: "Playfair", serif;
}

body {
  margin: 0 auto;
}

.presentation {
  font-family: var(--font1);
  background-color: var(--blanc-creme);
  overflow: hidden;
}

.presentation_elements {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

.presentation h1 {
  margin: 0;
}

.presentation .firstground {
  position: absolute;
  top: 25%;
  left: 25%;
  font-size: 100px;
  font-weight: 300;
  z-index: 10;
  margin-bottom: 20px;
}

.presentation .background {
  color: var(--kaki);
  position: relative;
  right: 205px;
  font-size: 230px;
  font-weight: 300;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0.1;
}

.balls img {
  width: 435px;
  height: 242px;
  position: relative;
  top: 50px;
}

.rectangle_balls h2 {
  position: absolute;
  top: 60%;
  left: 38%;
  font-size: 38px;
  font-weight: 300;
  color: var(--blanc-creme);
  z-index: 10;
}

.liquid-glass {
  position: absolute;
  top: 370px;
  left: 32.5%;
  z-index: 5;
  width: 535px;
  height: 242px;
  background: rgba(255, 255, 255, 0.17);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.2px);
}