:root {
  --blanc-creme: #fbfbf2;
  --beige-clair: #f6ead4;
  --kaki: #a2a595;
  --beige-fonce: #b4a284;
  --moins-noir: #22223b;
  --noir: #000000;
  --font1: "Italiana", sans-serif;
  --font2: "Piazzolla", serif;
  --font3: "Playfair", serif;
}

/* ancien de app.css : 
#root {
  margin: 0 auto;
  text-align: center;
} */

body {
  margin: 0 auto;
}

main {
  position: relative;
  overflow: hidden;
}

.presentation {
  font-family: var(--font1);
  background-color: var(--blanc-creme);
  overflow: hidden;
  position: relative;
}

.presentation_elements {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

.presentation h1 {
  margin: 0;
}

.presentation .firstground {
  position: absolute;
  top: 25%;
  left: 25%;
  font-size: 100px;
  font-weight: 300;
  z-index: 10;
  margin-bottom: 20px;
}

.presentation .background {
  color: var(--kaki);
  position: relative;
  right: 205px;
  font-size: 230px;
  font-weight: 300;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0.1;
}

.balls img {
  width: 435px;
  height: 242px;
  position: relative;
  top: 50px;
  margin-bottom: 100px;
}

.rectangle_balls h2 {
  position: absolute;
  top: 58%;
  left: 38%;
  font-size: 38px;
  font-weight: 300;
  color: var(--blanc-creme);
  z-index: 10;
}

.liquid-glass {
  /*z-index: 5;
  width: 535px;
  height: 242px;*/
  background: rgba(255, 255, 255, 0.17);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.2px);
}

.about-me {
  background-color: var(--kaki);
  position: relative;
  padding-top: 20px;
  padding-bottom: 40px;
  overflow: hidden;
}

.about-me h1 {
  position: absolute;
  top: 10%;
  right: 10%;
  font-family: var(--font1);
  font-weight: 400;
  font-size: 64px;
  margin: 0;
}

.about-me p {
  font-family: var(--font2);
  margin: 0;
  font-size: 24px;
  padding: 150px 150px 150px 150px;
}

.about-me .photo {
  position: absolute;
  bottom: 28%;
  right: 10%;
}

.about-me .polygon1 {
  transform: scaleX(-1) scaleY(-1);
  position: absolute;
  top: 13%;
  left: 5%;
}

.about-me .polygon2 {
  position: absolute;
  bottom: 14%;
  left: 58%;
}

.formations_diplomes {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 300px;
  background-color: var(--beige-fonce);
  padding: 70px;
}

.formations_diplomes h1 {
  margin: 0 0 70px 0;
  font-family: var(--font1);
  font-weight: 300;
  font-size: 64px;
}

.formations_diplomes li {
  font-family: var(--font3);
  margin-bottom: 35px;
  font-weight: 600;
}

.formations--section {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 50%;
}

.diplomes--section {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 50%;
}

.formations--section ul, .diplomes--section ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 20px;
}

.formations--section ul {
  text-align: right;
  width: 485px;
}

.diplomes--section ul {
  text-align: left;
  width: 485px;
}

.diplome--img {
  position: absolute;
  top: 10%;
  left: 45%;
}

.diplome--balls {
  position: absolute;
  bottom: 15%;
  right: 13%;
}

.light-effect1 {
  position: absolute;
  top: 19%;
  right: -300px;
  z-index: 100;
  width: 600px;
  height: 600px;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0.5) 30%,
    transparent 70%
  );
  filter: blur(40px);
  white-space: nowrap;
  pointer-events: none;
}

.light-effect2 {
  position: absolute;
  top: 55%;
  left: -300px;
  z-index: 100;
  width: 600px;
  height: 600px;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0.5) 30%,
    transparent 70%
  );
  filter: blur(40px);
  white-space: nowrap;
  pointer-events: none;
}

.experiences {
  background-color: var(--beige-clair);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experiences h1 {
  margin: 0;
  font-family: var(--font1);
  font-weight: 300;
  font-size: 64px;
  padding-bottom: 60px;
  padding-top: 80px;
}

.chronologie {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: var(--font3);
  gap: 50px;
  padding-top: 50px;
  padding-bottom: 80px;
}

.experience-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.year-label {
  font-family: var(--font3);
  font-size: 36px;
  background-color: #ffffff;
  border: 1px solid var(--kaki);
  border-radius: 10px;
  width: 200px;
  text-align: center;
  box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.7);
  font-weight: 600;
}

.poste-entreprise {
  display: flex;
  flex-direction: column;
  font-family: var(--font3);
  font-size: 20px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 10px;
  width: 540px;
  text-align: center;
  box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.7);
  font-weight: 1000;
}

.competences {
  display: flex;
  flex-direction: column;
  font-family: var(--font3);
  font-size: 16px;
  font-style: italic;
  background-color: var(--blanc-creme);
  width: 1060px;
  border-radius: 10px;
  box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.3);
  padding-bottom: 15px;
  padding-top: 15px;
  gap: 20px;
}

.divers {
  position: relative;
}

.divers h1 {
  position: absolute;
  top: 30px;
  left: 40px;
  margin: 0;
  font-family: var(--font1);
  color: var(--blanc-creme);
  font-size: 70px;
  font-weight: 300;
}

.background--divers {
  position: relative;
  z-index: -1;
}

.background--divers img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.all__infos {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 150px;
  justify-items: center;
  align-items: center;
}

.infoblock {
  display: flex;
  flex-direction: column;
  font-family: var(--font3);
  font-weight: 1000;
  padding: 30px;
  border: 2px solid var(--blanc-creme);
  text-align: center;
  width: 520px;
  height: 195px;
  justify-content: center;
}

.infoblock__title {
  font-size: 30px;
  margin: 0;
}

.infoblock__description, .infoblock__content {
  font-size: 28px;
  font-style: italic;
}

.figma {
  z-index: 5;
  position: absolute;
  top: 32.5%;
  left: 38%;
  width: 50px;
  height: 50px;
}

.usa_flag {
  position: absolute;
  bottom: 11.5%;
  left: 34.5%;
  width: 77px;
  height: 47px;
}